<div class="row">
  <div class="col-md-10">
    <a href="#" class="bloggood-ru-ssilka", id="nkmz">Эй! Работник! <br>
          Если хочешь быть здоров!<br>
      И забыть про докторов! Упражняйся!<br>
      
    </a>
    <div class="bloggood-ru-div"><%= image_tag "gg.jpg", size: "850x350" %>
  </div>
</div>
<div class="col-md-2">
  <h3>Ну, что начнем!?</h3>
  <div><%= link_to "ДА,  Конечно", hello_path , :class => 'btn btn-primary active btn-lg' %></div><br>
</div>

</div>