
table{
    border: 1px solid black;
    table-layout: fixed;
    width: 190px;
}

th, td {
    border: 1px solid black;
    overflow: hidden;
    width: 114px;
}
table, tr, td, th, tbody, thead, tfoot {
    page-break-inside: avoid !important;
}
.training {
  text-align: center;
}
.test {
  text-align: center;
}

.ration {
  text-align: center;
}